/* General Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Header Styles */
header {
  background-color: #f1f1f1;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  display: block;
  padding: 10px;
}

nav a:hover {
  background-color: #ddd;
}

/* Main Content Styles */
main {
  margin: 20px;
}

.featured {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
}

.featured h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.articles article {
  background-color: #f7f7f7;
  padding: 20px;
}

.articles h2 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.articles p {
  margin: 0 0 10px 0;
}

.articles a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.articles a:hover {
  background-color: #555;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}
